<body>
    {{> navbarhome}}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Thông tin gia sư</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- featured_candidates_area_start  -->
    <div class="basic-information featured_candidates_area candidate_page_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-9 col avata">
                    <img src="../../img/user.jpg" alt="" class="img-responsive">
                    <!-- <ul class="social">
                        <li class="col-md-3 col-sm-3"><a href="" class="facebook">
                                <i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="col-md-3 col-sm-3"><a href="" class="google"><i class="fa fa-google-plus"></i>Google
                                Plus</a></li>
                        <li class="col-md-3 col-sm-3"><a href="" class="twitter"><i class="fa fa-twitter"></i>Twitter</a>
                        </li>
                        <li class="col-md-3 col-sm-3"><a href="" class="linkedin"><i class="fa fa-linkedin"></i>Linked
                                In</a></li>
                        <li class="col-md-3 col-sm-3"><a href="" class="instagram"><i
                                    class="fa fa-instagram"></i>Instagram</a></li>
                    </ul> -->
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="profile-content thongtin">
                        <h2>Tên GS<span>Nghề nghiệp</span></h2>
                        <p>Trường</p>
                        <ul class="information">
                            <li><span>Họ và tên:</span>Daniel Duke</li>
                            <li><span>Giới tính:</span>Soft Techi Infoteck Pvt.</li>
                            <li><span>Năm sinh:</span>10 July 1990</li>
                            <li><span>Quê quán:</span>10 July 1990</li>
                            <li><span>Địa chỉ:</span>daniel-duke@gmail.com</li>
                            <li><span>Số điện thoại:</span>+91 548 576 8579</li>
                            <li><span>Khu vực dạy:</span>Cầu giấy, Thanh Xuân, Hà Đông, Nam Từ Liêm</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-user fa-fw"></i> Giới thiệu bản thân
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body gioithieu">
                        <p>The front end is the part that users see and interact with, includes the User Interface,
                            the
                            animations, and usually a bunch of logic to talk to the backend. It is the visual bit
                            that the user
                            interacts with. This includes the design, images, colours, buttons, forms, typography,
                            animations
                            and content. It’s basically everything that you as a user of the website can see.</p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-leanpub fa-fw"></i> Chủ đề dạy
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body chude">
                        <span class="service-tag">Web Design</span>
                        <span class="service-tag">Graphics</span>
                        <span class="service-tag">Development</span>
                        <span class="service-tag">App design</span>
                        <span class="service-tag">IOS Apps</span>
                        <span class="service-tag">CMS Development</span>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-leaf fa-fw"></i> Kinh nghiệm
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body kinhnghiem">
                        <p>The front end is the part that users see and interact with, includes the User Interface,
                            the
                            animations, and usually a bunch of logic to talk to the backend. It is the visual bit
                            that the user
                            interacts with.</p>
                        <ul>
                            <li>Software testing in a Web Applications/Mobile environment.</li>
                            <li>Software Test Plans from Business Requirement Specifications for test engineering
                                group.</li>
                            <li>Software testing in a Web Applications environment.</li>
                            <li>Translate designs into responsive web interfaces</li>
                            <li>Software testing in a Web Applications/Mobile environment.</li>
                            <li>Software testing in a Web Applications environment.</li>
                            <li>Translate designs into responsive web interfaces</li>
                            <li>Software Test Plans from Business Requirement Specifications for test engineering
                                group.</li>
                            <li>Run production tests as part of software implementation; Create, deliver and support
                                test plans
                                for testing group to execute.</li>
                            <li>Run production tests as part of software implementation; Create, deliver and support
                                test plans
                                for testing group to execute.</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-trophy fa-fw"></i> Thành tích
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body thanhtich">
                        <p>The front end is the part that users see and interact with, includes the User Interface,
                            the
                            animations, and usually a bunch of logic to talk to the backend. It is the visual bit
                            that the user
                            interacts with.</p>
                    </div>
                </div>
                <div class="panel panel-default moiungtuyen">
                    <div class="panel-heading">
                        <i class="fa fa-handshake-o fa-fw"></i> Gửi lời mời ứng tuyển
                    </div>
                    <div class="row panel-body  text-center">
                        <div class="col-lg-10 col-12 single_field  gsfilter">
                            <select id="myclass" class="wide">
                                <option value="" data-display="Lớp của tôi">Lớp của tôi</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <div id="nutmoi" class="boxed-btn3">Mời dạy</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- featured_candidates_area_end  -->


    <!-- footer start -->
    {{> footerhome}}
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="../../js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../../js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/isotope.pkgd.min.js"></script>
    <script src="../../js/ajax-form.js"></script>
    <script src="../../js/waypoints.min.js"></script>
    <script src="../../js/jquery.counterup.min.js"></script>
    <script src="../../js/imagesloaded.pkgd.min.js"></script>
    <script src="../../js/scrollIt.js"></script>
    <script src="../../js/jquery.scrollUp.min.js"></script>
    <script src="../../js/wow.min.js"></script>
    <script src="../../js/nice-select.min.js"></script>
    <script src="../../js/jquery.slicknav.min.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/plugins.js"></script>
    <script src="../../js/gijgo.min.js"></script>
    <script src="../../js/moment.js"></script>
    <script src="../../js/jquery.cookie.js"></script>



    <!--contact js-->
    <script src="../../js/contact.js"></script>
    <script src="../../js/jquery.ajaxchimp.min.js"></script>
    <script src="../../js/jquery.form.js"></script>
    <script src="../../js/jquery.validate.min.js"></script>
    <script src="../../js/mail-script.js"></script>


    <script src="../../js/main.js"></script>
    <script src="../../api/share.js"></script>
    <script src="../../api/home/E_candidate_details.js"></script>

</body>