<body>
    {{> navbarhome}}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Thông tin lớp</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center coban">
                                <div class="thumb">
                                    <img src="../../img/subject/tiengviet.jpg" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#">
                                        <h4>Cần Gia Sư Môn Toán Lớp 9 Tại Quận 5, Hồ Chí Minh</h4>
                                    </a>
                                    <div class="links_locat">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i>Mộ Lao, Hà Đông, Hà Nội</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-leanpub"></i> Toán lớp 5</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-money"></i> Học phí: 150000/buổi</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-money"></i> Phí nhận lớp: 150000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap motahs">
                            <h4>Thông tin học sinh</h4>
                            <p>Học sinh nữ, trường Thanh Liệt, học sách kết nối tri thức, lực học TB</p>
                        </div>
                        <div class="single_wrap">
                            <h4>Yêu cầu Gia sư</h4>
                            <ul class="yeucaugs">
                                <li>Trình độ: Giáo viên</li>
                                <li>Giới tính: Nữ</li>
                                <li>Trường: Đại học Bách khoa Hà Nội</li>
                                <li>Yêu cầu khác: tính cách thân thiện, kiên trì. Kinh nghiệm 6 tháng trở lên làm gia sư
                                </li>
                            </ul>
                        </div>
                        <div class="single_wrap">
                            <h4>Thời gian có thể học</h4>
                            <div class="block-calender">

                                <div class="row day-in-week" ng-repeat="day in days">
                                    <p class="ng-binding col-lg-2">Thứ 2: </p>
                                    <div class="col-lg-10">
                                        <div class="row time-in-day">
                                            <span class="genric-btn primary-border ng-view col-md-3">
                                                Sáng</span>
                                            <span class="genric-btn primary-border ng-view col-md-3">Chiều
                                            </span>
                                            <span class="genric-btn primary-border ng-view col-md-3 calendar-active">Tối
                                            </span>

                                        </div>

                                    </div>
                                </div>
                                <div class="row day-in-week" ng-repeat="day in days">
                                    <p class="ng-binding col-lg-2">Thứ 3: </p>
                                    <div class="col-lg-10">
                                        <div class="row time-in-day">
                                            <span class="genric-btn primary-border ng-view col-md-3">
                                                Sáng</span>
                                            <span class="genric-btn primary-border ng-view col-md-3">Chiều
                                            </span>
                                            <span class="genric-btn primary-border ng-view col-md-3 calendar-active">Tối
                                            </span>

                                        </div>

                                    </div>
                                </div>
                                <div class="row day-in-week" ng-repeat="day in days">
                                    <p class="ng-binding col-lg-2">Thứ 4: </p>
                                    <div class="col-lg-10">
                                        <div class="row time-in-day">
                                            <span class="genric-btn primary-border ng-view col-md-3">
                                                Sáng</span>
                                            <span class="genric-btn primary-border ng-view col-md-3">Chiều
                                            </span>
                                            <span class="genric-btn primary-border ng-view col-md-3 calendar-active">Tối
                                            </span>

                                        </div>

                                    </div>
                                </div>
                                <div class="row day-in-week" ng-repeat="day in days">
                                    <p class="ng-binding col-lg-2">Thứ 5: </p>
                                    <div class="col-lg-10">
                                        <div class="row time-in-day">
                                            <span class="genric-btn primary-border ng-view col-md-3">
                                                Sáng</span>
                                            <span class="genric-btn primary-border ng-view col-md-3">Chiều
                                            </span>
                                            <span class="genric-btn primary-border ng-view col-md-3 calendar-active">Tối
                                            </span>

                                        </div>

                                    </div>
                                </div>
                                <div class="row day-in-week" ng-repeat="day in days">
                                    <p class="ng-binding col-lg-2">Thứ 6: </p>
                                    <div class="col-lg-10">
                                        <div class="row time-in-day">
                                            <span class="genric-btn primary-border ng-view col-md-3">
                                                Sáng</span>
                                            <span class="genric-btn primary-border ng-view col-md-3">Chiều
                                            </span>
                                            <span class="genric-btn primary-border ng-view col-md-3 calendar-active">Tối
                                            </span>

                                        </div>

                                    </div>
                                </div>
                                <div class="row day-in-week" ng-repeat="day in days">
                                    <p class="ng-binding col-lg-2">Thứ 7: </p>
                                    <div class="col-lg-10">
                                        <div class="row time-in-day">
                                            <span class="genric-btn primary-border ng-view col-md-3">
                                                Sáng</span>
                                            <span class="genric-btn primary-border ng-view col-md-3">Chiều
                                            </span>
                                            <span class="genric-btn primary-border ng-view col-md-3 calendar-active">Tối
                                            </span>

                                        </div>

                                    </div>
                                </div>
                                <div class="row day-in-week" ng-repeat="day in days">
                                    <p class="ng-binding col-lg-2">CN: </p>
                                    <div class="col-lg-10">
                                        <div class="row time-in-day">
                                            <span class="genric-btn primary-border ng-view col-md-3">
                                                Sáng</span>
                                            <span class="genric-btn primary-border ng-view col-md-3">Chiều
                                            </span>
                                            <span class="genric-btn primary-border ng-view col-md-3 calendar-active">Tối
                                            </span>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="apply_job_form white-bg">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="submit_btn">
                                    <div class="ungtuyen">
                                        <button id="nutungtuyen" class="boxed-btn3 w-100">Ứng
                                            tuyển</button>
                                    </div>
                                    <div class="ketquaungtuyen">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Tóm tắt lớp</h3>
                        </div>
                        <div class="job_content">
                            <ul class="tomtatlop">
                                <li>Ngày tạo: <span>12 Nov, 2019</span></li>
                                <li>Số buổi/tuần: <span>2</span></li>
                                <li>Số giờ/buổi: <span>2.5</span></li>
                                <li>Số học sinh: <span>3</span></li>
                                <li>Giới tính: <span>Nam và Nữ</span></li>
                                <li>Hình thức: <span>Online</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <!-- footer start -->
    {{> footerhome}}
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="../../js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../../js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/isotope.pkgd.min.js"></script>
    <script src="../../js/ajax-form.js"></script>
    <script src="../../js/waypoints.min.js"></script>
    <script src="../../js/jquery.counterup.min.js"></script>
    <script src="../../js/imagesloaded.pkgd.min.js"></script>
    <script src="../../js/scrollIt.js"></script>
    <script src="../../js/jquery.scrollUp.min.js"></script>
    <script src="../../js/wow.min.js"></script>
    <script src="../../js/nice-select.min.js"></script>
    <script src="../../js/jquery.slicknav.min.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/plugins.js"></script>
    <script src="../../js/gijgo.min.js"></script>
    <script src="../../js/moment.js"></script>
    <script src="../../js/jquery.cookie.js"></script>



    <!--contact js-->
    <script src="../../js/contact.js"></script>
    <script src="../../js/jquery.ajaxchimp.min.js"></script>
    <script src="../../js/jquery.form.js"></script>
    <script src="../../js/jquery.validate.min.js"></script>
    <script src="../../js/mail-script.js"></script>


    <script src="../../js/main.js"></script>
    <script src="../../api/share.js"></script>
    <script src="../../api/home/E_job_details.js"></script>
</body>