<body>
    {{> navbarhome}}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Đăng ký tài khoản học viên</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- form start -->
    <div class="section-top-border container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3 class="mb-30">Ảnh đại diện</h3>
                <form action="#">
                    <div class="mt-10 row avata_set">
                        <img src="../../img/avatadefault.png" alt="" class="imgavata">
                    </div>
                    <div class="mt-10 row avata_set">
                        <input type="file" name="avata" required class="ipavata single-input col-lg-6">
                    </div>
                    <script>
                        var imgAvataTag = document.querySelector(".imgavata");
                        var ipAvataTag = document.querySelector(".ipavata");

                        ipAvataTag.addEventListener('change', handleOnchange);

                        function handleOnchange(event) {
                            const file = event.target.files[0];

                            // Create a FileReader object
                            const reader = new FileReader();

                            // Set up the reader onload event
                            reader.onload = function (e) {
                                // Set the preview image source to the data URL
                                imgAvataTag.src = e.target.result;
                            };

                            // Read the file as a data URL
                            reader.readAsDataURL(file);
                        } 
                    </script>
                </form>
                <h3 class="mb-30 mt-30">Thông tin cá nhân</h3>
                <form action="#">
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Họ tên HS*:</span>
                        <input type="text" name="first_name" required class="single-input col-lg-9 hoten">
                    </div>
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Giới tính*:</span>
                        <div class="default-select col-lg-9" id="default-select">
                            <select class="gioitinh">
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Ngày sinh*:</span>
                        <input type="date" name="date_of_birth" required class="single-input col-lg-9 ngaysinh">
                    </div>
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Số điện thoại*:</span>
                        <input type="text" name="last_name" required class="single-input col-lg-9 sdt">
                    </div>
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Quận*:</span>
                        <div class="default-select col-lg-9" id="default-select">
                            <select class="quanhuyen">
                                <option value=" 1">Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Địa chỉ*:</span>
                        <input type="text" name="address" required class="single-input col-lg-9 diachi">
                    </div>
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Mặt trước CCCD*:</span>
                        <input type="file" name="cccd" required class="single-input col-lg-9 cccd">
                    </div>
                </form>
                <h3 class="mb-30 mt-30">Tài khoản</h3>
                <form action="#">
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Email*:</span>
                        <input type="email" name="email" required class="single-input col-lg-9 email">
                    </div>
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Mật khẩu*:</span>
                        <input type="password" name="password" required class="single-input col-lg-9 password">
                    </div>
                    <div class="mt-10 row">
                        <span class="col-lg-3 label_form"> Nhập lại mật khẩu*:</span>
                        <input type="password" name="repassword" required class="single-input col-lg-9 repassword">
                    </div>
                </form>

            </div>
            <div class="mt-30 col-12 text-center">
                <div id="nutdangky" class="boxed-btn3">Đăng ký</div>
            </div>
        </div>
    </div>
    <!-- form end -->

    <!-- footer start -->
    {{> footerhome}}
    <!--/ footer end  -->


    <!-- JS here -->
    <script src="../../js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../../js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/isotope.pkgd.min.js"></script>
    <script src="../../js/ajax-form.js"></script>
    <script src="../../js/waypoints.min.js"></script>
    <script src="../../js/jquery.counterup.min.js"></script>
    <script src="../../js/imagesloaded.pkgd.min.js"></script>
    <script src="../../js/scrollIt.js"></script>
    <script src="../../js/jquery.scrollUp.min.js"></script>
    <script src="../../js/wow.min.js"></script>
    <script src="../../js/nice-select.min.js"></script>
    <script src="../../js/jquery.slicknav.min.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/plugins.js"></script>
    <script src="../../js/gijgo.min.js"></script>
    <script src="../../js/jquery.cookie.js"></script>

    <!--contact js-->
    <script src="../../js/contact.js"></script>
    <script src="../../js/jquery.ajaxchimp.min.js"></script>
    <script src="../../js/jquery.form.js"></script>
    <script src="../../js/jquery.validate.min.js"></script>
    <script src="../../js/mail-script.js"></script>

    <script src="../../js/main.js"></script>
    <script src="../../api/share.js"></script>
    <script src="../../api/home/E_register_student.js"></script>

</body>