<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="footer_logo">
              <a href="/">
                <img src="img/logo/logo1.png" alt="">
              </a>
            </div>
            <p>
              educonnect@support.com <br>
              0123456789 <br>
              Nguyễn Trãi, Hà Đông, Hà Nội
            </p>
            <div class="socail_links">
              <ul>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
            <h3 class="footer_title">
              Dành cho Gia sư
            </h3>
            <ul>
              <li><a href="/dangkygiasu">Đăng ký</a></li>
              <li><a href="/danhsachlop">Lớp mới</a></li>
            </ul>

          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
            <h3 class="footer_title">
              Dành cho PH-HS
            </h3>
            <ul>
              <li><a href="/dangkyhocvien">Đăng ký</a></li>
              <li><a href="/taolop">Tạo lớp mới</a></li>
              <li><a href="/danhsachgiasu">Tìm gia sư</a></li>
            </ul>

          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
            <h3 class="footer_title">
              Hướng dẫn
            </h3>
            <ul>
              <li><a href="/quydinh">Quy định chung</a></li>
              <li><a href="/hopdong">Hợp đông mẫu</a></li>
              <li><a href="#">Cách thức nhận lớp</a></li>
              <li><a href="#">Chính sách hoàn phí</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>