<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="/">
                    <h3>Edu-connect</h3>
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a href="/quanly">
                        <i class="fa fa-id-badge" aria-hidden="true"></i> Tài khoản
                    </a>
                </li>
                <li>
                    <a href="/quanly/danhsachadmin">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i> Quản lý Admin
                    </a>
                </li>
                <li>
                    <a href="/quanly/thongke">
                        <i class="fa fa-line-chart" aria-hidden="true"></i> Thống kê, báo cáo
                    </a>
                </li>
                <li>
                    <a href="/quanly/xuatdulieu">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> Xuất dữ liệu
                    </a>
                </li>
                <li>
                    <a href="/quanly/thongbao">
                        <i class="fa fa-bell" aria-hidden="true"></i> Thông báo
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="../../img/logo/logo2.png" alt="Cool Admin" />
            <h4>Edu-connect</h4>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="/quanly">
                        <i class="fa fa-id-badge" aria-hidden="true"></i> Tài khoản
                    </a>
                </li>
                <li>
                    <a href="/quanly/danhsachadmin">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i> Quản lý Admin
                    </a>
                </li>
                <li>
                    <a href="/quanly/thongke">
                        <i class="fa fa-line-chart" aria-hidden="true"></i> Thống kê, báo cáo
                    </a>
                </li>
                <li>
                    <a href="/quanly/xuatdulieu">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> Xuất dữ liệu
                    </a>
                </li>
                <li>
                    <a href="/quanly/thongbao">
                        <i class="fa fa-bell" aria-hidden="true"></i> Thông báo
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->