<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="/">
                    <h3>Edu-connect</h3>
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a href="/admin">
                        <i class="fa fa-id-badge" aria-hidden="true"></i> Tài khoản
                    </a>
                </li>
                <li>
                    <a href="/admin/chudeday">
                        <i class="fa fa-book" aria-hidden="true"></i> Quản lý chủ đề
                    </a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>Quản lý gia sư</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/danhsachgiasu">Danh sách gia sư</a>
                        </li>
                        <li>
                            <a href="/admin/dangkygiasu">Đăng ký làm gia sư</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>Quản lý học viên</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/danhsachhocvien">Danh sách học viên</a>
                        </li>
                        <li>
                            <a href="/admin/dangkyhocvien">Đăng ký làm học viên</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>Quản lý lớp</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/yeucautaolop">Yêu cầu tạo lớp</a>
                        </li>
                        <li>
                            <a href="/admin/lopdangtim">Lớp đang tìm</a>
                        </li>
                        <li>
                            <a href="/admin/lopcangiao">Lớp cần xếp gia sư</a>
                        </li>
                        <li>
                            <a href="/admin/lopdagiao">Lớp đã giao</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>Thanh toán</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/lichsugiaodich">Lịch sử giao dịch</a>
                        </li>
                        <li>
                            <a href="/admin/congno">Công nợ</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/thongbao">
                        <i class="fa fa-bell" aria-hidden="true"></i> Thông báo
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="../../img/logo/logo2.png" alt="Cool Admin" />
            <h4>Edu-connect</h4>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="/admin">
                        <i class="fa fa-id-badge" aria-hidden="true"></i> Tài khoản
                    </a>
                </li>
                <li>
                    <a href="/admin/chudeday">
                        <i class="fa fa-book" aria-hidden="true"></i> Quản lý chủ đề
                    </a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>Quản lý gia sư</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/danhsachgiasu">Danh sách gia sư</a>
                        </li>
                        <li>
                            <a href="/admin/dangkygiasu">Đăng ký làm gia sư</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>Quản lý học viên</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/danhsachhocvien">Danh sách học viên</a>
                        </li>
                        <li>
                            <a href="/admin/dangkyhocvien">Đăng ký làm học viên</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>Quản lý lớp</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/yeucautaolop">Yêu cầu tạo lớp</a>
                        </li>
                        <li>
                            <a href="/admin/lopdangtim">Lớp đang tìm</a>
                        </li>
                        <li>
                            <a href="/admin/lopcangiao">Lớp cần xếp gia sư</a>
                        </li>
                        <li>
                            <a href="/admin/lopdagiao">Lớp đã giao</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>Thanh toán</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/lichsugiaodich">Lịch sử giao dịch</a>
                        </li>
                        <li>
                            <a href="/admin/congno">Công nợ</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/thongbao">
                        <i class="fa fa-bell" aria-hidden="true"></i> Thông báo
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->