<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="/">
                    <h3>Edu-connect</h3>
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a href="/giasu">
                        <i class="fa fa-id-badge" aria-hidden="true"></i> Tài khoản
                    </a>
                </li>
                <li class="has-sub">
                    <a href="#" class="js-arrow">
                        <i class="fa fa-bookmark" aria-hidden="true"></i> Ứng tuyển nhận lớp
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/giasu/lopdangday">Lớp của tôi</a>
                        </li>
                        <li>
                            <a href="/giasu/loimoiungtuyen">Lời mời ứng tuyển</a>
                        </li>
                        <li>
                            <a href="/giasu/lichsuungtuyen">Lịch sử ứng tuyển</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/giasu/thongbao">
                        <i class="fa fa-bell" aria-hidden="true"></i> Thông báo
                    </a>
                </li>
                <li class="has-sub">
                    <a href="#" class="js-arrow">
                        <i class="fa fa-credit-card" aria-hidden="true"></i> Thanh toán
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/giasu/lichsugiaodich">Lịch sử giao dịch</a>
                        </li>
                        <li>
                            <a href="/giasu/congno">Công nợ</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="../../img/logo/logo2.png" alt="Cool Admin" />
            <h4>Edu-connect</h4>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="/giasu">
                        <i class="fa fa-id-badge" aria-hidden="true"></i> Tài khoản
                    </a>
                </li>
                <li class="has-sub">
                    <a href="#" class="js-arrow">
                        <i class="fa fa-bookmark" aria-hidden="true"></i> Ứng tuyển nhận lớp
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/giasu/lopdangday">Lớp của tôi</a>
                        </li>
                        <li>
                            <a href="/giasu/loimoiungtuyen">Lời mời ứng tuyển</a>
                        </li>
                        <li>
                            <a href="/giasu/lichsuungtuyen">Lịch sử ứng tuyển</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/giasu/thongbao">
                        <i class="fa fa-bell" aria-hidden="true"></i> Thông báo
                    </a>
                </li>
                <li class="has-sub">
                    <a href="#" class="js-arrow">
                        <i class="fa fa-credit-card" aria-hidden="true"></i> Thanh toán
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/giasu/lichsugiaodich">Lịch sử giao dịch</a>
                        </li>
                        <li>
                            <a href="/giasu/congno">Công nợ</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->