<!-- header-start -->
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid ">
        <div class="header_bottom_border">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-2 col-md-1">
              <div class="logo">
                <a href="/">
                  <img src="img/logo/logo.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-xl-9 col-lg-10 col-md-11">
              <div class="main-menu  d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/danhsachlop">Danh sách lớp</a></li>
                    <li><a href="/danhsachgiasu">Danh sách gia sư</a></li>
                    <li><a href="#">Hướng dẫn<i class="ti-angle-down"></i></a>
                      <ul class="submenu">
                        <li><a href="/hopdong">Hợp đồng mẫu</a></li>
                        <li><a href="/quydinh">Quy định chung</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Đăng ký<i class="ti-angle-down"></i></a>
                      <ul class="submenu">
                        <li><a href="/dangkygiasu">Tôi là gia sư</a></li>
                        <li><a href="/dangkyhocvien">Tôi cần tìm gia sư</a></li>
                      </ul>
                    </li>
                    <li><a href="/taolop">Tìm gia sư</a></li>
                    <li class='account'>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- header-end -->