<body class="animsition">
    <div class="page-wrapper">
        {{> navbaradmin}}

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            {{> headerdesktopadmin}}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Chi tiết lớp</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <div class="form-horizontal">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">ID</label>
                                                </div>
                                                <div class="col-12 col-md-9 maId">
                                                    <p class="form-control-static">Username</p>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Tiêu đề</label>
                                                </div>
                                                <div class="col-12 col-md-9 tieude">
                                                    <input type="text" id="text-input" name="text-input" placeholder=""
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Quận/Huyện</label>
                                                </div>
                                                <div class="col-12 col-md-9 quanhuyen">
                                                    <select name="select" id="quan" class="form-control">
                                                        <option value=" 1">Nam</option>
                                                        <option value="1">Nữ</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Địa chỉ</label>
                                                </div>
                                                <div class="col-12 col-md-9 diachi">
                                                    <input type="text" id="text-input" name="text-input" placeholder=""
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Học phí &#40VNĐ&#41</label>
                                                </div>
                                                <div class="col-12 col-md-9 hocphi">
                                                    <input type="number" min="1000" step="1000" value="1000"
                                                        id="text-input" name="text-input" placeholder=""
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Phí ứng tuyển &#40VNĐ&#41</label>
                                                </div>
                                                <div class="col-12 col-md-9 phiungtuyen">
                                                    <input type="number" min="1000" step="1000" value="1000"
                                                        id="text-input" name="text-input" placeholder=""
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Số buổi/tuần</label>
                                                </div>
                                                <div class="col-12 col-md-9 sobuoi">
                                                    <input type="number" min="1" max="7" value="1" id="text-input"
                                                        name="text-input" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Số giờ/buổi</label>
                                                </div>
                                                <div class="col-12 col-md-9 sogio">
                                                    <input type="number" min="1" max="5" step="0.5" value="1"
                                                        id="text-input" name="text-input" placeholder=""
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Số HS</label>
                                                </div>
                                                <div class="col-12 col-md-9 sohs">
                                                    <input type="number" min="1" value="1" id="text-input"
                                                        name="text-input" placeholder="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Giới tính HS</label>
                                                </div>
                                                <div class="col-12 col-md-9 gioitinhhs">
                                                    <select name="select" id="gender" class="form-control">
                                                        <option value="Nam">Nam</option>
                                                        <option value="Nữ">Nữ</option>
                                                        <option value="Nam + Nữ">Nam + Nữ</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Mô tả học
                                                        sinh</label>
                                                </div>
                                                <div class="col-12 col-md-9 motahs">
                                                    <textarea name="textarea-input" id="textarea-input" rows="9"
                                                        placeholder="Content..." class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Hình thức</label>
                                                </div>
                                                <div class="col-12 col-md-9 hinhthuc">
                                                    <select name="select" id="gender" class="form-control">
                                                        <option value="Online">Online</option>
                                                        <option value="Offline">Offline</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="textarea-input" class=" form-control-label">Chủ đề
                                                        dạy</label>
                                                </div>
                                                <div class="col-12 col-md-9 chudeday">
                                                    <div class="row">
                                                        <div class="col-6 col-md-6 mon">
                                                            <select name="select" id="select" class="form-control">
                                                                <option value="Sinh viên">Môn</option>
                                                                <option value="Giáo viên">Giáo viên</option>
                                                                <option value="Khác">Khác</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6 col-md-6 trinhdo">
                                                            <select name="select" id="select" class="form-control">
                                                                <option value="">Trình độ</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Hạn ứng tuyển</label>
                                                </div>
                                                <div class="col-12 col-md-9 hanungtuyen">
                                                    <input type="date" id="text-input" name="text-input" placeholder=""
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Nghề nghiệp gia sư</label>
                                                </div>
                                                <div class="col-12 col-md-9 nghenghiepgs">
                                                    <select name="select" id="gender" class="form-control">
                                                        <option value="">Không</option>
                                                        <option value="Sinh viên">Sinh viên</option>
                                                        <option value="Giáo viên">Giáo viên</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Giới tính gia sư</label>
                                                </div>
                                                <div class="col-12 col-md-9 gioitinhgs">
                                                    <select name="select" id="gender" class="form-control">
                                                        <option value="">Không</option>
                                                        <option value="Nam">Nam</option>
                                                        <option value="Nữ">Nữ</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Trường</label>
                                                </div>
                                                <div class="col-12 col-md-9 truonggs">
                                                    <input type="text" id="text-input" name="text-input" placeholder=""
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Yêu cầu
                                                        khác</label>
                                                </div>
                                                <div class="col-12 col-md-9 yeucaukhac">
                                                    <textarea name="textarea-input" id="textarea-input" rows="9"
                                                        placeholder="Content..." class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Thời gian có thể
                                                        học</label>
                                                </div>
                                                <div class="col-12 col-md-9 lichtrong">
                                                    <div id="" class="row ml-2 mb-2">
                                                        <span>Thứ 2</span>
                                                        <div class="form-check-inline form-check">
                                                            <label for="inline-checkbox1" class="form-check-label ml-5">
                                                                <input type="checkbox" id="inline-checkbox1"
                                                                    name="inline-checkbox1" value="option1"
                                                                    class="form-check-input">Sáng
                                                            </label>
                                                            <label for="inline-checkbox2" class="form-check-label ml-5">
                                                                <input type="checkbox" id="inline-checkbox2"
                                                                    name="inline-checkbox2" value="option2"
                                                                    class="form-check-input">Chiều
                                                            </label>
                                                            <label for="inline-checkbox3" class="form-check-label ml-5">
                                                                <input type="checkbox" id="inline-checkbox3"
                                                                    name="inline-checkbox3" value="option3"
                                                                    class="form-check-input">Tối
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row ml-2">
                                                        <span>Thứ 2</span>
                                                        <div class="form-check-inline form-check">
                                                            <label for="inline-checkbox1" class="form-check-label ml-5">
                                                                <input type="checkbox" id="inline-checkbox1"
                                                                    name="inline-checkbox1" value="option1"
                                                                    class="form-check-input">Sáng
                                                            </label>
                                                            <label for="inline-checkbox2" class="form-check-label ml-5">
                                                                <input type="checkbox" id="inline-checkbox2"
                                                                    name="inline-checkbox2" value="option2"
                                                                    class="form-check-input">Chiều
                                                            </label>
                                                            <label for="inline-checkbox3" class="form-check-label ml-5">
                                                                <input type="checkbox" id="inline-checkbox3"
                                                                    name="inline-checkbox3" value="option3"
                                                                    class="form-check-input">Tối
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Trạng thái</label>
                                                </div>
                                                <div class="col-12 col-md-9 trangthai">
                                                    <select name="select" id="status" class="form-control quanhuyen">
                                                        <option value="CHOPHEDUYET">Chờ phê duyệt</option>
                                                        <option value="DANGTIM">Đang tìm</option>
                                                        <option value="CANGIAO">Cần giao</option>
                                                        <option value="DAGIAO">Đã giao</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button id="nutcapnhat" class="btn btn-primary">Cập nhật</button>
                                    <button id="nutxoa" class="btn btn-danger">Xoá</button>
                                    <button id="nutquaylai" class="btn btn-warning">Quay lại</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="../../vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../../vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../../vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../../vendor/slick/slick.min.js">
    </script>
    <script src="../../vendor/wow/wow.min.js"></script>
    <script src="../../vendor/animsition/animsition.min.js"></script>
    <script src="../../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../../vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../../vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../../vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../../vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../../vendor/select2/select2.min.js"></script>
    <script src="../../js/moment.js"></script>
    <script src="../../js/jquery.cookie.js"></script>

    <!-- Main JS-->
    <script src="../../js/main1.js"></script>
    <script src="../../api/share.js"></script>
    <script src="../../api/account.js"></script>
    <script src="../../api/admin/E_detailClass.js"></script>

</body>