<body class="animsition">
    <div class="page-wrapper">
        {{> navbarstudent}}

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            {{> headerdesktopstudent}}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <h4>Danh sách gia sư ứng tuyển</h4>
                        <p class="malop">Mã lớp: 1</p>
                        <p class="tieudelop">Tiêu đề: 1</p>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>ID GS</th>
                                                <th>Tên GS</th>
                                                <th>Ngày ứng tuyển</th>
                                                <th>Kết quả</th>
                                                <th>Chi tiết GS</th>
                                            </tr>
                                        </thead>
                                        <tbody class="listApply">
                                            <tr>
                                                <td class="loimoi">2018-09-29 05:57</td>
                                                <td class="loimoi">Mobile</td>
                                                <td class="loimoi">iPhone X 64Gb Grey</td>
                                                <td class="loimoi">iPhone X 64Gb Grey</td>
                                                <td class="loimoi">
                                                    <button type="button" class="btn btn-outline-primary btn-sm">Chi
                                                        tiết</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="">2018-09-29 05:57</td>
                                                <td class="">Mobile</td>
                                                <td class="">iPhone X 64Gb Grey</td>
                                                <td class="">iPhone X 64Gb Grey</td>
                                                <td class="">
                                                    <button type="button" class="btn btn-outline-primary btn-sm">Chi
                                                        tiết</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="../../vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../../vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../../vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../../vendor/slick/slick.min.js">
    </script>
    <script src="../../vendor/wow/wow.min.js"></script>
    <script src="../../vendor/animsition/animsition.min.js"></script>
    <script src="../../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../../vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../../vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../../vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../../vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../../vendor/select2/select2.min.js"></script>
    <script src="../../js/moment.js"></script>
    <script src="../../js/jquery.cookie.js"></script>

    <!-- Main JS-->
    <script src="../../js/main1.js"></script>
    <script src="../../api/share.js"></script>
    <script src="../../api/account.js"></script>
    <script src="../../api/student/E_postTutorApplying.js"></script>

</body>